* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    padding-left: 230px;
    padding-right: 230px;
    background-color: black;
    color: white;
}

#menusuperior {
    list-style: none;
}

#menusuperior li a {
    margin: 10px;
}

#cont {
    float: right;
}

#menuinferior {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    display: inline-block;
    align-items: center;
}

#menuinferior li a{
    font-size: 20px;
    padding-left: 60px; 
    padding-top: 20px;
    padding-bottom: 20px;
}

#menuinferior li a:hover {
    color: rgb(255, 21, 0);
}

header ul li {
    display: inline; 
}

header ul li a {
    text-decoration: none;
    display: inline-block;
    color: white;
}

.logo {
    width: 80px;
    align-items: center;
    padding: none;
    margin: none;
}

.banner{
    width: 750px;
    height: 300px;
    margin-top: 20px;
    margin: auto;
    display: block;
}

div {
    text-align: center;
    width: 100%;
}

.banner2{
    width: 300px;
    margin-top: 20px;
    margin: auto;
    display: block;
}

.center {
    width: 100%;
    display: block;
}

h1 {
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 5px;
}

h2 {
    font-size: 30px;
    text-align: justify;
    margin-top: 20px;
}

h3 {
    font-size: 40px;
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
}

#esp p {
    font-size: 15px;
    text-align: justify;
    margin-bottom: 5px;
}

footer {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 100%;
    display: inline-block;
    align-items: center;
}

footer p {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

form {
    display: block;
    border: 2px solid white;
    padding-right: 30px;
    height: 300px;
    padding-top: 20px;
}

form label {
    font-size: 20px;
    color: white;
    float: left;
}

form input {
    width: 300px;
    background-color: black;
    border: 1px solid white;
    border-radius: 2%;
    padding: 5px;
    float: right;
    color: white;
}

form textarea {
    width: 300px;
    height: 100px;
    background-color: black;
    border: 1px solid white;
    border-radius: 2%;
    padding: 5px;
    float: right;
    color: white;
}

button {
    display: block;
    margin-top: 120px;
    border-radius: 5%;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
}

button:hover{
    background-color: rgb(255, 21, 0);
    color: white;
}

.for {
    margin: 15px;
}

.Captura{
    width: 300px;
    margin-top: 20px;
    margin: auto;
    display: block;
}
